$oxygen: "Oxygen", sans-serif;

.admin-container{
	position: relative;
	top: 9vh;
}
.addProduct-container {
	background-color: rgba(221, 221, 221, 0.2);
	height: calc(100vh - 9vh);
	position: relative;
	top: 9vh;
	
	.title {
		height: 10vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 calc(3vw + 15px);
		font-family: $oxygen;
		font-size: 32px;
		strong {
			font-weight: 300;
			letter-spacing: 1px;
		}
	}
}
.product-top {
	padding: 0.5rem calc(3vw + 7px);
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	font-family: $oxygen;
}
.product-name,
.brand,
.category,
.description,
.numReviews,
.Rating,
.price {
	display: flex;
	flex-direction: column;
	font-family: $oxygen;
}
label {
	margin-bottom: 1rem;
}
.product-desc {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	textarea {
		resize: none;
		min-width: 500px;
		margin-bottom: 3rem;
		background-color: rgba(221, 221, 221, 0);
		font-family: $oxygen;
	}
}
.submit {
	display: flex;
	justify-content: center;
	margin-top: 36px;
}
.open-img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 2rem;

	.upload-box {
		font-size: 16px;
		background: white;
		border-radius: 50px;

		width: 350px;
		outline: none;
	}
}
::-webkit-file-upload-button {
	color: white;
	background: #24202e;
	padding: 20px;
	border: none;
	border-radius: 50px;

	outline: none;
	transition: all 250ms ease-in-out;
}
::-webkit-file-upload-button:hover {
	background: #fff;
	cursor: pointer;
	color: #24202e;
	border: 1px solid #24202e;
}

.label-img {
	font-size: 22px;
	font-family: $oxygen;
	margin-bottom: 1.2rem;
}
