$oxygen: "Oxygen", sans-serif;
.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 9vh;
	padding: 0 calc(2.6vw + 5px);
	background-color: #24202e;
	color: #fff;
	font-family: $oxygen;
	position: fixed;
	width: 100%;
	z-index: 10;

	// dropDown
	.dropdown {
		display: flex;
		flex-direction: column;
		position: relative;
		span {
			cursor: pointer;
		}
		&:hover {
			.dropdown-menu {
				display: block;
			}
		}
		.dropdown-ico {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			cursor: pointer;
		}
	}
	.drop-ico {
		width: 25px;
		height: 20px;
	}
	.dropdown {
		position: relative;
		display: inline-block;
	}
	.dropdown-menu {
		display: none;
		position: absolute;
		top: 20px;
		right: 0;
		background-color: #f1f1f1;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 1;
		border-radius: 6px;
		outline: none;
		a {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
			border-radius: 6px;
			outline: 0;
			font-family: $oxygen;
		}
	}
	.dropdown-menu a:hover {
		background-color: #ddd;
	}

	.nav-left {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.search-bar {
			display: flex;
			flex-direction: row;
		}
		.logo {
			margin-right: calc(4vw + 5px);
			font-family: $oxygen;
			letter-spacing: 3px;
		}
		.search-bar input {
			margin-right: 2rem;
			color: #fff;
		}
		::placeholder {
			color: white;
			font-size: 12px;
			line-height: 26px;
		}
		.search-bar button {
			margin-left: 1rem;
			color: white;
		}
	}

	.nav-right {
		ul {
			display: flex;
			list-style-type: none;
			align-items: center;
			justify-content: center;
			text-align: center;

			li {
				display: flex;
				margin: 0rem 1.75rem;
				cursor: pointer;
				align-items: center;
				justify-content: center;
			}
		}
	}
	a {
		color: #fff;
		text-decoration: none;
	}
}
.currency-option {
	.MuiSelect-root,
	.MuiSelect-select,
	.MuiSelect-selectMenu,
	.MuiInputBase-input,
	.MuiInput-input {
		color: white;
	}
	padding-left: 4rem;
	.MuiSelect-icon {
		color: white;
	}
}
.MuiInput-underline :after{
	border-bottom:2px solid #f50057;
}
@import "./HomePage";
