@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
$oxygen: "Oxygen", sans-serif;
$red: #E1332D;


.slider-imgs {
	margin-top: 20px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;

	img {
		width: 100%;
		height: 100%;
		border: 4px solid transparent;
		box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
			rgb(0 0 0 / 73%) 0px 16px 10px -10px;
		transition-duration: 300ms;
		box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
			rgb(0 0 0 / 73%) 0px 16px 10px -10px;
		&:hover {
			border: 4px solid rgba(249, 249, 249, 0.8);
		}
	}
}
a{
	color: white;
	text-decoration: none;
	font-family: $oxygen;
}
.slick-container {
	margin-top: 20px;
	cursor: pointer;

	.slick-list {
		overflow: hidden;
	}
	ul li button {
		&:before {
			font-size: 10px;
			color: rgb(150, 158, 171);
		}
	}
	.slick-prev:before {
		color: #24202e;
	}
	.slick-next:before {
		color: #24202e;
	}
	button {
		z-index: 1;
	}
	li.slick-active button:before {
		color: #24202e;
	}
	.box {
		width: 100%;
		background-color: #24202e;
		min-height: 350px;
		padding: 2rem;
	
		.data {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
			min-height: 100%;

			img {
				width: 350px;
				height: 350px;
				object-fit: cover;
			}
			.title {
				color: white;
				margin-bottom: 25px;
				font-size: 32px;
				
				letter-spacing: 2px;
				padding-left: 0.5rem;
			}
		}
	}
	.right-part {
		display: flex;
		flex-direction: column;
		text-align: start;
		

		.slick-price {
			color: white;
			margin-bottom: 25px;
			font-size: 20px;
			line-height: 24px;
			letter-spacing: 0.5px;
		}
	}
	.price span {
		padding-left: 0.5rem;
		
	}

	
}

